.imgWrapper {
  position: absolute;
  z-index: -1;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.topImgWrapper {
  aspect-ratio: 375/250;
}

.chocImgWrapper {
  aspect-ratio: 6720/4480;
}

.topImgWrapper > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topHeadingWrapper {
  height: 92vh;
  position: relative;
  text-align: center;
  overflow: hidden;
  display: block;
  align-items: center;
}

.topHeading {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  z-index: 1;
  color: white;
}

.stdHeading {
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .stdHeading {
    font-size: 4em;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .imgWrapper {
    height: 92vh;
    transform: translateX(-30%);
  }
  .stdPadding {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .stdDesc {
    font-size: 1.75em;
    text-align:justify;
  }
}

@media screen and (min-width: 769px) and (max-width: 1330px) {
  .stdHeading {
    font-size: 7.5em;
  }
  .imgWrapper {
    height: 100%;
    aspect-ratio: 375/250;
    align-items: center;
    text-align: right;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .imgWrapper > img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 769px) {
  .stdPadding {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .stdDesc {
    font-size: 3em;
    text-align:justify;
  }
  .stdHeading {
    font-size: 7.5em;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

@media screen and (max-width: 1550px) and (min-width: 1331px) {
  .imgWrapper {
    width: 130%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media screen and (min-width: 1551px) {
  .imgWrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 100%;
  }
}
