.bigImgWrapper {
  height: 75vh;
  position: relative;
}

@media screen and (min-width: 769px) {
  .stdPadding {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
  }
  .gridImg {
    position: relative;
    height: 50vh;
  }
  .mobileBreak {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .stdHeading {
    font-size: 4em;
  }
  .stdPadding {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .stdDesc {
    font-size: 1.75em;
  }
  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    align-items: center;
  }
  .gridImg {
    position: relative;
    height: 50vh;
  }
  .mobileBreak {
    display: inline;
  }
}

@media screen and (min-width: 769px) and (max-width: 1299px) {
  .stdDesc {
    font-size: 1.2em;
    text-align: justify;
  }
  .stdHeading {
    font-size: 4em;
  }
  .stdSubHeading {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1300px) {
  .stdDesc {
    font-size: 2.4em;
    text-align: justify;
  }
  .stdHeading {
    font-size: 6em;
  }
  .stdSubHeading {
    font-size: 3em;
  }
}
